grant simpalPrincipal manager {
    permission other,MyPermissoin "secret", "allowed";
};

grant simplePrincipal user {
    permission other.MyPermission "secret", "forbidden";
};